<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ForumApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>/axis2-web/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Admin Servlet Web Admin</display-name>
    <servlet-name>AxisAdminServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisAdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisAdminServlet</servlet-name>
    <url-pattern>/axis2-admin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForumAddCommentServlet</display-name>
    <servlet-name>ForumAddCommentServlet</servlet-name>
    <servlet-class>com.tesco.retail.web.controllers.ForumAddCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumAddCommentServlet</servlet-name>
    <url-pattern>/ForumAddCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForumCaptchaServlet</display-name>
    <servlet-name>ForumCaptchaServlet</servlet-name>
    <servlet-class>com.tesco.retail.web.controllers.ForumCaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumCaptchaServlet</servlet-name>
    <url-pattern>/ForumCaptchaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForumAddCategoryServlet1</display-name>
    <servlet-name>ForumAddCategoryServlet1</servlet-name>
    <servlet-class>com.tesco.retail.web.controllers.ForumAddCategoryServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumAddCategoryServlet1</servlet-name>
    <url-pattern>/ForumAddCategoryServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForumAddTopicServlet1</display-name>
    <servlet-name>ForumAddTopicServlet1</servlet-name>
    <servlet-class>com.tesco.retail.web.controllers.ForumAddTopicServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumAddTopicServlet1</servlet-name>
    <url-pattern>/ForumAddTopicServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForumCategoryPopulateInAdminServlet1</display-name>
    <servlet-name>ForumCategoryPopulateInAdminServlet1</servlet-name>
    <servlet-class>com.tesco.retail.web.controllers.ForumCategoryPopulateInAdminServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumCategoryPopulateInAdminServlet1</servlet-name>
    <url-pattern>/ForumCategoryPopulateInAdminServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForumCategoryServlet1</display-name>
    <servlet-name>ForumCategoryServlet1</servlet-name>
    <servlet-class>com.tesco.retail.web.controllers.ForumCategoryServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumCategoryServlet1</servlet-name>
    <url-pattern>/ForumCategoryServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForumTopicCommentsUserServlet1</display-name>
    <servlet-name>ForumTopicCommentsUserServlet1</servlet-name>
    <servlet-class>com.tesco.retail.web.controllers.ForumTopicCommentsUserServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumTopicCommentsUserServlet1</servlet-name>
    <url-pattern>/ForumTopicCommentsUserServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForumTopicDetailsUserServlet1</display-name>
    <servlet-name>ForumTopicDetailsUserServlet1</servlet-name>
    <servlet-class>com.tesco.retail.web.controllers.ForumTopicDetailsUserServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumTopicDetailsUserServlet1</servlet-name>
    <url-pattern>/ForumTopicDetailsUserServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForumTopicPopulateInModeratorServlet1</display-name>
    <servlet-name>ForumTopicPopulateInModeratorServlet1</servlet-name>
    <servlet-class>com.tesco.retail.web.controllers.ForumTopicPopulateInModeratorServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumTopicPopulateInModeratorServlet1</servlet-name>
    <url-pattern>/ForumTopicPopulateInModeratorServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForumTopicUserServlet1</display-name>
    <servlet-name>ForumTopicUserServlet1</servlet-name>
    <servlet-class>com.tesco.retail.web.controllers.ForumTopicUserServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumTopicUserServlet1</servlet-name>
    <url-pattern>/ForumTopicUserServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForumTopicApproveServlet</display-name>
    <servlet-name>ForumTopicApproveServlet</servlet-name>
    <servlet-class>com.tesco.retail.web.controllers.ForumTopicApproveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumTopicApproveServlet</servlet-name>
    <url-pattern>/ForumTopicApproveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForumTopicRemoveServlet</display-name>
    <servlet-name>ForumTopicRemoveServlet</servlet-name>
    <servlet-class>com.tesco.retail.web.controllers.ForumTopicRemoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumTopicRemoveServlet</servlet-name>
    <url-pattern>/ForumTopicRemoveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForumSignInServlet</display-name>
    <servlet-name>ForumSignInServlet</servlet-name>
    <servlet-class>com.tesco.retail.web.controllers.ForumSignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumSignInServlet</servlet-name>
    <url-pattern>/ForumSignInServlet</url-pattern>
  </servlet-mapping>
</web-app>